.ode-flex-dash-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.widget {
    color: #fff;
    width: calc(33.3% - 15px);
    position: relative;
    transition: width 0.25s;
    touch-action: none;
}

.widget-placeholder {
    background-color: #313131;
    border-radius: 8px;
    pointer-events: none !important;
}

.widget-handle {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    cursor: grab;
}

.widget-span-handle {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;
    min-width: 5px;
    cursor: e-resize;
    z-index: 9;
}

[data-widget-position]{
    opacity: 0;
}