* {
    margin: 0;
    padding: 0;
    font-family: "myFont";
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body {
    background-color: #0c0d0f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard-container {
    width: 90vw;
    height: max-content;
    margin: 20px 0;
}

/* ******************* Dashboard User Style ***************** */

h1 {
    margin-top: 40px;
    color: #fff;
    font-family: "myFont_xb";
}

.hide {
    display: none;
}

.widget-item {
    width: 100%;
    height: max-content;
    background-color: #2b2929;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    transition: 0.3s;
}

.widget-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.title {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    font-family: "myFont_b";
}

.data-row-1 {
    padding: 10px;
    width: 100%;
    background-color: #000;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 14px;
}

.cod-conta {
    display: flex;
    align-items: center;
    width: 100%;
}

.cod {
    font-size: 13px;
    padding: 4px 5px;
    border-radius: 4px;
    background-color: crimson;
    margin-right: 8px;
}

.cod-1 {
    background-color: #414141;
}

.cod-2 {
    background-color: #5a5a5a;
}

.sub-title {
    font-family: "myFont_m";
    font-size: 15px;
    margin-top: 13px;
}

.chksbxs-conta {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.chksbxspan {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    border: 1px solid #d6d6d6;
    position: relative;
    border-radius: 3px;
}

.chksbxspan::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 64%;
    height: 64%;
    border-radius: 1px;
}


.chksbxspan:nth-child(8)::before {
    background-color: springgreen;
}
.chksbxspan:nth-child(7)::before {
    background-color: crimson;
}
.chksbxspan:nth-child(6)::before {
    background-color: crimson;
}
.chksbxspan:nth-child(5)::before {
    background-color: rgb(218, 205, 63);
}
.chksbxspan:nth-child(4)::before {
    background-color: rgb(218, 205, 63);
}

.datadiv-cota {
    display: flex;
    justify-content: space-between;
}

.data-div {
    flex: 1;
    height: max-content;
    padding: 5px 0;
    border-right: 1px #949494 solid;
    padding: 0 5px ;
}

.data-div:last-child {
    border-right: none;
}

.fapnum {
    font-size: 18px;
    font-family: "myFont_xb";
    margin-top: 5px;
}

.data-div .sub-title {
    color: crimson;
}

.data-list {
    margin: 0;
}

.data-list li {
    list-style: none;
    color: #fff;
    border-bottom: 1px #ddd solid;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
}

.data-list li:last-child {
    border-bottom: none;
}

.data-list li span {
    font-family: "myFont_xb";
    cursor: pointer;
}

.btn-conta {
    margin-top: 15px;
}

.primary-btn {
    width: 100%;
    height: 50px;
    background-color: crimson;
    font-family: "myFont_b";
    border: none;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.primary-sm-btn {
    width: 28px;
    height: 24px;
    border-radius: 4px;
    background-color: crimson;
    border: none;
    color: #fff;
    font-size: 18px;
    font-family: "myFont_xb";
}

.calender-conta {
    display: flex;
    flex-wrap: wrap;
}

.calender-cell {
    display: block;
    width: 12%;
    height: 28px;
    margin-inline-end: 2.24%;
    margin-bottom: 5px;
    background-color: crimson;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-family: "myFont_m";
}

.calender-cell:nth-child(-n+4) {
    background-color: rgb(136, 136, 136);
}
.calender-cell:last-child {
    background-color: rgb(136, 136, 136);
}
.calender-cell:nth-child(11) {
    background-color: rgb(12, 177, 20);
}
.calender-cell:nth-child(16) {
    background-color: rgb(12, 177, 20);
}
.calender-cell:nth-child(17) {
    background-color: rgb(12, 177, 20);
}
.calender-cell:nth-child(18) {
    background-color: rgb(12, 177, 20);
}

.tabrow {
    width: 100%;
    padding: 13px 0;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}

.tabrow:last-child {
    border: none;
}

.tabrow span{
    flex: 0.5;
}


.empty-widget {
    width: 250px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 20, 60, 0.699);
    font-size: 25px;
    transition: 0.3s;
    color: #fff;
}

.toggle-btn {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 3px;
}

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/


/*  widget Widths  */

/* #widget-item-1 {
    max-height: max-content;
}

#widget-item-2 {
    max-height: max-content;
}

#widget-item-3 {
    max-height: max-content;
}

#widget-item-4 {
    max-height: max-content;
}

#widget-item-5 {
    max-height: max-content;
}

#widget-item-6 {
    max-height: max-content;
} */

/* 
#widget_1 {
    height: 408px;
    width: 308px;
}

#widget_2 {
    height: 320px;
    width: 308px;
}

#widget_3 {
    height: 148px;
    width: 308px;
}

#widget_4 {
    height: 406px;
    width: 308px;
}

#widget_5 {
    height: 320px;
    width: 308px;
}

#widget_6 {
    height: 377px;
    width: 308px;
} */
